<div class="main-container">
   <div class="header">
<h1>Reset &ensp;&ensp; Password</h1>
<p id="sub-header">Please complete the fields below to access the app.</p>
   </div>

  <div class="inner-part">
            <label  class="labels" for="">Username</label>
            <input  class="textBoxes" type="text" placeholder="   Example@Email.com" [(ngModel)]="username" name="username" required #usernameInput="ngModel" class="errorMessage">
            <div *ngIf="usernameInput.invalid && usernameInput.touched" >Username is required.</div>
            <label class="labels" for="">Pass Phrase</label>
            <input class="textBoxes" type="password" [(ngModel)]="password" name="password" required #passwordInput="ngModel"><br>
            <div *ngIf="passwordInput.invalid && passwordInput.touched" class="errorMessage">Password is required.</div>
          
        
         <button id="btnCreate">Submit</button><br>
        
       
        </div>



</div>
 

