<div class="main-container">
   <div class="header">
<h1>Reset &ensp;&ensp; Password</h1>
<p id="sub-header">Please complete the fields below to access the app.</p>
   </div>

  <div class="inner-part">
            <label  class="labels" for="">Username</label>
            <input  class="textBoxes" type="text" placeholder="   Example@Email.com">
            <label class="labels" for="">Pass Phrase</label>
            <input class="textBoxes" type="password"><br>
          
        
         <button id="btnCreate">Submit</button><br>
        
       
        </div>



</div>
 

