<div class="user-details">
    <div class="box">
    <div class="details">
      
      <div class="left-details">
    
            <label for="name">Name:</label><br><br>
            <label for="Surname">Surname:</label><br><br>
            <label for="Supplier/FarmerID">Supplier/FarmerID:</label><br><br>
            <label for=" Status"> Status:</label><br><br>
            <label for=" Office Address"> Office Address:</label><br>
       
           </div>
        
           <div class="right-details">
           
            <label for="name">Nonnie</label><br><br>
            <label for="Surname">sunshine</label><br><br>
            <label for="Supplier/FarmerID">22556699887</label><br><br>
            <label for=" Status"> Status:</label><br><br>
            <label for=" Office Address"> Boksburg:</label><br>
           
           </div>
        
</div>
</div>
</div>
