<div class="container">
    <div class="menu">
        <div class="toolbar">
            <span class="initials">JD</span>
            <span>Joe Doe<br>Farmer ID:856246521</span>
            <mat-icon>menu</mat-icon>
        </div>
        <div class="list">
            <span>Communication</span>
            <span>Sender and Trader messaging tool</span>
            <p>
                <span class="redHeading"> JOHN: 1ST LIFESTYLE FOODS</span>
                <span>gdte opdui dcjydgdga yadaduuahda kuagxaxoad aldhayghduakdyfa <br>
                kuaaljalidjo aaagdyakdi kadja;da uiadyfcao; aljciaklai
                </span>
            </p>
            <p class="paragraph2">
                <span class="redHeading">You</span>
                <span>ukachachiacjalicjailcjacjalicjikuachc
                    <br>akjchaclacjalcacayjchaichakchakchucj<br>jahaukhcakchkach
                    jagcacukhckahcakhcacydeu<br>
                </span>
            </p>
           
            
        </div>
        <div class="footer">

            <span>Home</span>
            <span>Product List</span>
            <span>Analytics</span>
            <span>Profile</span>
        </div>












    </div>







</div>
