<div class="container">
    <div class="menu">
        <div class="toolbar">
            <span class="initials">JD</span>
            <span>Joe Doe<br>Farmer ID:856246521</span>
            <mat-icon>menu</mat-icon>
        </div>
        <div class="list">
            <a routerLink="" class="home">Home</a>
            <a routerLink="">Sale Management</a>
            <a routerLink="">Product Listing</a>
            <a routerLink="">Analytics</a>
            <a routerLink="">Payments</a>
            <a routerLink="">Communication</a>
            <a routerLink="">Logout</a>
            
        </div>
        <div class="footer">

            <span>Home</span>
            <span>Product List</span>
            <span>Analytics</span>
            <span>Profile</span>
        </div>












    </div>







</div>