<div class="container">
    <div class="menu">
        <div class="toolbar">
            <span class="initials">JD</span>
            <span>Joe Doe<br>Farmer ID:856246521</span>
            <mat-icon>menu</mat-icon>
        </div>
        <div class="list">
            To:<br>
            <input class="input1">
            Message:
            <input class="input2">
            <button>send</button>
           
            
        </div>
        <div class="footer">

            <span>Home</span>
            <span>Product List</span>
            <span>Analytics</span>
            <span>Profile</span>
        </div>












    </div>







</div>