<div class="sales">
    <p>Sales History</p><br><br>
</div>

<div class="boxx">
   
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Product Category</th>
          <th>Quantity</th>
          <th>Sell Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sales and bulbs<br> and seedings and<br> cuttings</td>
          <td>50</td>
          <td>2023/04/05</td>
        </tr>
        <tr>
          <td>Dried Vegetables</td>
          <td>100</td>
          <td>2023/05/06</td>
        </tr>
        <tr>
          <td>Beverages</td>
          <td>20</td>
          <td>2023/06/26</td>
        </tr>
        <tr>
          <td>Containers and<br> Storage</td>
          <td>11</td>
          <td>2023/03/11</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <table class="graph">
	
	<thead>
		<tr>
			<th scope="col">Item</th>
			<th scope="col">Percent</th>
		</tr>
	</thead><tbody>
		<tr style="height:85%">
			<th scope="row">Pinapples</th>
			<td><span>85%</span></td>
		</tr>
		
		
		<tr style="height:38%">
			<th scope="row">Mandarines</th>
			<td><span>38%</span></td>
		</tr>
		<tr style="height:35%">
			<th scope="row">Apples</th>
			<td><span>35%</span></td>
		</tr>
		<tr style="height:30%">
			<th scope="row">Other</th>
			<td><span>30%</span></td>
		</tr>
		
	</tbody>
</table>

<div class="footer">
    <div class="list">
        <ul>Home</ul>
        <ul>Product List</ul>
        <ul>Analytics</ul>
        <ul>Profile</ul>
    </div>
</div>

  

